body {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: black;
}
.kunteynir {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
* {
  color: white;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  transition: 0.4s;
}
a {
  text-decoration: none;
  transition: 0.4s;
  color: white;
}
img {
  max-width: 100%;
  max-height: 100%;
  background: none;
}
button {
  display: block;
  margin: 0;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  background: none;

  transition: 0.4s;
}
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header {
  font-weight: 600;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 107px;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 48px;
  margin-right: 72px;
}

.header__nav--link:hover {
  color: #ee8313;
  transition: 0.4s;
}

/* BLOCKSMAINHEADER */

.main__leftblock--title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 64px;
  letter-spacing: 0.6%;
}
.main__leftblock--description {
  font-weight: 400;
  font-size: 17px;
  color: white;
  opacity: 80%;
  margin-bottom: 48px;
  line-height: 28px;
  letter-spacing: -0.41px;
}
.main__leftblock--buttons {
  display: flex;
  gap: 35px;
  margin-bottom: 40px;
}
.primary-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #ee8313;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: none;
  border: none;
}
.primary-btn:hover {
  background-color: #b86207;
}
.secondary-btn {
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ee8313;
  border: 1px solid #ee8313;
  text-shadow: none;
  text-decoration: none;
}
.header__nav {
  margin-left: auto;
}
.main__leftblock--buttons {
  text-align: center;
  display: flex;
}
.main__leftblock--buttons:hover {
  color: #ee8313;
}

.main__leftblock--features {
  display: flex;
  justify-content: space-between;
}

.main__leftblock--features-left---number {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-right: 16px;
  vertical-align: sub;
}
.main__leftblock--features-left---description {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}
.main__leftblock--features-left---description:first-child {
  margin-right: 40px;
}
#main {
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}
.main__leftblock {
  max-width: 475px;
}
.main__rightblock {
  position: absolute;
  height: 95%;
  width: 58%;
  top: 0;
  right: 0;
}
.main__rightblock::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url(/img/car.png) no-repeat;
  z-index: 2;
}
.main__rightblock::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  background-color: rgb(52 52 52 / 30%);
  z-index: 1;
}

/* RENT */

.rent__title {
  line-height: 64px;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0.6%;
  text-align: center;
  color: #ffff;
  margin-bottom: 40px;
}

.title__section {
  line-height: 64px;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0.6%;
  text-align: center;
  color: #ffff;
  margin-bottom: 40px;
}

.rent__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 120px;
}
.rent__items--item {
  position: relative;
  height: 524px;
  background: url(/img/red.png) 50% / cover no-repeat;
}
.rent__items--item:nth-child(2) {
  background-image: url(/img/black.png);
}
.rent__items--item:nth-child(3) {
  background-image: url(/img/black2.png);
}
.rent__items--item:nth-child(4) {
  background-image: url(/img/white.png);
}
.rent__items--item---title {
  position: absolute;
  line-height: 52px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.6%;
  color: #ffff;
  background: none;
  top: 48px;
  left: 48px;
}
.rent__items--item---link {
  position: absolute;
  line-height: 32px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.6%;
  color: #ffff;
  background: none;
  right: 60px;
  bottom: 48px;
  padding-right: 30px;
}
.rent__items--item---link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0px;
  width: 8px;
  height: 32px;
  background: url(/img/strela.png) 50% / cover no-repeat;
  transform: translateY(-50%);
}

/* SERVICES */

.services__title {
  margin-bottom: 66px;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.6%;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 120px;
  gap: 24px;
}
.services__items--item {
  width: 384px;
}
.services__items--item---img {
  margin-bottom: 24px;
}
.services__items--item---title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.6%;
}
.services__items--item---desc {
  opacity: 80%;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.6%;
}

/* DESTINATION */

.destination__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 162px;
}
.destination__items--item {
  position: relative;
  width: 384px;
  background-color: #171717;
  border: 1px solid #171717;
}
.destination__items--item---info {
  padding: 24px;
  background-color: #171717;
}
.destination__items--item---info-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.6%;
  background: none;
}

.destination__items--item---info-desc {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.41%;
  opacity: 80%;
  background: none;
}

.destination__items--item---info-price {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.41%;
  padding-left: 42px;
  background: none;
  position: relative;
  display: block;
}
.destination__items--item---info-price::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(/img/Front\ Car.png) no-repeat;
  transform: translateY(-50%);
}
.destination__items--item---info-link {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.41%;
  color: #ee8313;
  background: none;
}
.destination__items--item---info-link:hover {
  color: #b86207;
}

/* LOCATION */

#location {
  margin-bottom: 102px;
}

/* FOOTER */
#footer {
  background: #1f1905;
  padding-top: 40px;
}
.footer__copyright {
  background-color: #ee8313;
}
.footer__copyright--text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 20px 0;
  text-align: center;
}
.footer__main {
  display: flex;
  justify-content: space-between;
}

.footer__nav--item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 80%;
  padding-bottom: 28px;
}
footer__nav--item---link {
  color: white;
  opacity: 80%;
}
.footer__nav--item---link:hover {
  color: #ee8313;
}
.footer__contacts--image {
  display: block;
  width: 120px;
  height: 34px;
  margin-bottom: 34px;
  margin-left: 51px;
  background: url(img/social_1.svg) 50% / cover no-repeat;
}
.footer__contacts--image:nth-child(2) {
  background-image: url(img/social_2.svg);
}
.footer__contacts--image:nth-child(3) {
  background-image: url(img/social_3.svg);
  margin-bottom: 0;
}
.footer__contacts--image:hover {
  opacity: 0.7;
  cursor: pointer;
}
.footer__nav--title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 32px;
}
.footer__logohk {
  width: 48px;
  height: 48px;
}
.footer__logo {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.footer__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.footer__about--desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 98px;
  max-width: 235px;
}
.footer__nav--items {
  padding-bottom: 40px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin: 40px 100px 0 auto;
}
