@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
.kunteynir {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
* {
  background-color: black;
  color: white;
}
ul li {
  list-style: none;
  transition: 0.4s;
}
a {
  text-decoration: none;
  transition: 0.4s;
  color: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
}
button {
  display: block;
  margin: 0;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  transition: 0.4s;
}

/* HEADER */

.header {
  font-weight: 600;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 107px;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 48px;
  margin-right: 72px;
}

.header__nav--link:hover {
  color: #ee8313;
  transition: 0.4s;
}

/* BLOCKSMAINHEADER */

.main__leftblock--title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 64px;
  letter-spacing: 0.6%;
}
.main__leftblock--description {
  font-weight: 400;
  font-size: 17px;
  color: white;
  opacity: 80%;
  margin-bottom: 48px;
  line-height: 28px;
  letter-spacing: -0.41px;
}
.main__leftblock--buttons {
  display: flex;
  gap: 35px;
  margin-bottom: 40px;
}
.primary-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #ee8313;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: none;
  border: none;
}
.primary-btn:hover {
  background-color: #b86207;
}
.secondary-btn {
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ee8313;
  border: 1px solid #ee8313;
  text-shadow: none;
  text-decoration: none;
}
.header__nav {
  margin-left: auto;
}
.main__leftblock--buttons {
  text-align: center;
  display: flex;
}
.main__leftblock--buttons:hover {
  color: #ee8313;
}

.main__leftblock--features {
  display: flex;
  justify-content: space-between;
}

.main__leftblock--features-left---number {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-right: 16px;
  vertical-align: sub;
}
.main__leftblock--features-left---description {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}
.main__leftblock--features-left---description:first-child {
  margin-right: 40px;
}
#main {
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}
.main__leftblock {
  max-width: 475px;
}
.main__rightblock {
  position: absolute;
  height: 95%;
  width: 58%;
  top: 0;
  right: 0;
}
.main__rightblock::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url(/img/car.png) no-repeat;
  z-index: 2;
}
.main__rightblock::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  background-color: rgb(52 52 52 / 30%);
  z-index: 1;
}

/* RENT */

.rent__title {
  line-height: 64px;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0.6%;
  text-align: center;
  color: #ffff;
  margin-bottom: 40px;
}

.title__section {
  line-height: 64px;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0.6%;
  text-align: center;
  color: #ffff;
  margin-bottom: 40px;
}

.rent__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.rent__items--item {
  position: relative;
  height: 524px;
  background: url(/img/red.png) 50% / cover no-repeat;
}
.rent__items--item:nth-child(2) {
  background-image: url(/img/black.png);
}
.rent__items--item:nth-child(3) {
  background-image: url(/img/black2.png);
}
.rent__items--item:nth-child(4) {
  background-image: url(/img/white.png);
}
.rent__items--item---title {
  position: absolute;
  line-height: 52px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.6%;
  color: #ffff;
  background: none;
  top: 48px;
  left: 48px;
}
.rent__items--item---link {
  position: absolute;
  line-height: 32px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.6%;
  color: #ffff;
  background: none;
  right: 60px;
  bottom: 48px;
  padding-right: 30px;
}
.rent__items--item---link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0px;
  width: 8px;
  height: 32px;
  background: url(/img/strela.png) 50% / cover no-repeat;
  transform: translateY(-50%);
}
